@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --text: #000000;
    --textLight: #494949;
    --header: rgb(231, 231, 231);
    --background: #dddddd;
    --primary: #004fce;
    --secondary: #ffffff;
    --tertiary: #bf0a30;
}

* {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-y: scroll;
    line-height: normal;
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    align-items: center;
}

custom-header,
header {
    position: fixed;
    background-color: var(--header);
    color: var(--secondary);
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    box-shadow: black 0px 0px 25px -5px;
    z-index: 1000;
}

aside {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

h1 {
    cursor: pointer;
    color: var(--text);
    font-size: 3rem;
    font-family: 'Bebas Neue', sans-serif;
}

h2 {
    margin-top: 0.5rem;
    color: #003fa5;
    font-size: 2.5rem;
    white-space: nowrap;
    font-family: 'Bebas Neue', sans-serif;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
}

ul {
    list-style: disc inside;
}

main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary);
    margin-top: 60px;
    width: 60%;
    padding: 15px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

article {
    margin: 15px;
}

#header {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#desktopNav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

#logo {
    background-color: white;
}

div.vertDiv {
    height: 60%;
    width: 2px;
    background-color: var(--textLight);
    margin: 0 10px;
}

iframe {
    border-radius: 5px;
}

button,
a.button {
    background-color: var(--header);
    border-radius: 5px;
    color: var(--textLight);
    border: solid 2px transparent;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1rem;
    text-decoration: none;
}

button:hover,
a.button:hover {
    background-color: rgba(0, 0, 0, 0.205);
    color: var(--text);
}

button.selected,
a.button.selected {
    background-color: var(--primary);
    color: var(--header);
}

button.special,
a.button.special {
    background-color: var(--text);
    color: var(--header);
}

button.special:hover,
a.button.special:hover {
    background-color: var(--header);
    color: var(--text);
    border: solid 2px var(--text);
}

button:disabled,
a.button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

button.special:hover:disabled,
a.button.special:hover:disabled {
    border-color: transparent;
    background-color: #ccc;
    color: var(--header);
}

button>i,
a.button>i {
    width: 100%;
    height: 100%;
}


#memberPanel {
    display: flex;
    flex-direction: column;
}

#memberPanel>a {
    text-decoration: none;
}

#memberPanel>a:hover {
    text-decoration: underline;
}

#photoPanel>div {
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#photoPanel>div>div,
#photoPanel i {
    background-color: var(--secondary);
    cursor: pointer;
    width: 50%;
    aspect-ratio: 1;
    background-position: center;
    background-size: cover;
}

#photoPanel>div>i {
    font-size: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

.panel {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--header);
    border-radius: 5px;
    padding: 15px;
}

.event {
    position: relative;
    display: flex;
    flex-direction: column;
}

.event>img {
    filter: drop-shadow(0 0 5px var(--text));
    width: 200px;
    position: absolute;
    bottom: 0;
    right: 0;
}




strong {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2rem;
    color: var(--text);
}

p {
    margin-bottom: 0.5rem;
}


#mobileMenu {
    touch-action: none;
    height: calc(100% - 60px);
    background-color: var(--background);
    z-index: 10000;
    position: fixed;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    transform: translateX(100%);
}

#mobileMenuContent>nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0;
}

#mobileMenuContent>nav>a.button {
    font-size: 3.5rem;
    text-align: start;
    padding: 4px 4rem 0px 4px;
}

#mobileMenuContent .loginSection>a.button {
    font-size: 2rem;
    text-align: start;
}

#mobileMenuContent .loginSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#mobileMenuContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 3rem 0 3rem 1rem;
    align-items: center;
    gap: 10px;
}

#iconNav,
#mobileNav {
    display: none;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    white-space: nowrap;
}

#carPanel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#carPanel>.vehicleCard {
    width: calc(50% - 5px);
}

.vehicleCard,
#addCar {
    box-sizing: border-box;
    cursor: pointer;
    border: black 2px solid;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    aspect-ratio: 16/9;
}

#addCar {
    justify-content: center;
    align-items: center;
    font-size: 10rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
    justify-content: center;
    align-items: center;
    font-family: Montserrat;
}
#carImage{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
}
#addCarForm,#editProfileForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 500px;
    /* Set a max width */
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 50%;
    max-width: 500px;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.closeModal {
    cursor: pointer;
    font-size: 2rem;
    user-select: none;
}

.vehicleCardInfo {
    width: fit-content;
    background-color: rgba(27, 27, 27, 0.919);
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    padding: 10px;
    color: var(--secondary);
    display: flex;
    flex-direction: column;
}

a.button.signoutButton {
    background-color: var(--tertiary);
    color: var(--secondary);
}
#signoutButton{
    background-color: var(--tertiary);
    color: var(--secondary);
    width: fit-content;
}
.iconLayoutOnly{
    display: none;
}
#avatar {
    width: 200px;
    border: black 2px solid;
    border-radius: 5px;
}
#profileButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.footer{
    padding: 5px;
    box-sizing: border-box;
    width: 60%;
    background-color: var(--header);
}

@media (max-width: 1600px) {

    #desktopNav,
    #mobileNav {
        display: none;
    }

    #iconNav,.iconLayoutOnly {
        display: block;
    }

    main {
        flex-direction: column-reverse;
    }
}

@media (max-width: 1000px) {
    main {
        width: 100%;
        padding: 0;
    }


    .footer {
        width: 100%;
    }
    #header {
        width: 100%;
        padding: 0 15px;
    }

    #carPanel{
        flex-direction: column;
    }
    #carPanel>.vehicleCard {
        width: 100%;
    }
    #addCarModal .modal-content, #carDetailsModal .modal-content {
        width: 70%;
    }
    #carPanel p{
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    #desktopNav,
    #iconNav,.iconLayoutOnly {
        display: none;
    }

    #mobileNav {
        display: block;
    }
}




/* From Uiverse.io by barisdogansutcu */
.loader {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

.loader.fullscreen {
    height: 300px;
}

circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}